body {
    background-color: #030014;
    color: #fff;
    font-family: Inter V, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
    overflow-y: hidden;
    width: 100vw;
}

::selection {
    background: rgb(147 130 255 / 50%); 
    color: white;        
}

html, body {
    overflow-x: hidden;
    position: relative;
}

.header .container-lg:before {
    background: radial-gradient(62.87% 100% at 50% 100%, rgba(255, 255, 255, .12) 0%, rgba(255, 255, 255, 0) 100%);
    bottom: 0;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    width: 100%;
}

.header {
    padding: 0 20px;
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
    background: rgba(3, 0, 20, .08);
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 10;
}

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.header .container-lg {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 26px 0;
    position: relative;
}

.container-lg {
    max-width: 1296px;
}

.container, .container-md, .container-sm, .container-lg {
    margin: 0 auto;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;

}

.logo-with-name-logo {
    height: 36px;
    width: 60px;
}

.logo-with-name {
    align-items: center;
    display: flex;
}

.logo-name {
    font-size: 16px;
    line-height: 24px;
}

.logo-name {
    font-feature-settings: "ss01" on, "cv10" on, "calt" off, "liga" off;
}

a {
    color: whitesmoke;
    text-decoration: none;
}

a:-webkit-any-link {
    cursor: pointer;
}

.header-nav {
    background: rgba(255, 255, 255, .02);
    border: 1px solid rgba(255, 255, 255, .08);
    border-radius: 999px;
    display: flex;
    left: 50%;
    margin: 0 auto;
    padding: 10px 12px;
    position: absolute;
    transform: translate(-50%);
}

ul {
    list-style: none;
    -webkit-margin-after: 0;
    margin-block-end: 0;
    -webkit-margin-before: 0;
    margin-block-start: 0;
    padding: 0;
}

.header-nav li {
    margin: 0 12px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}

.header-nav-link {
    color: #fffffff0;
    display: block;
    transition: .3s cubic-bezier(.6,.6,0,1) color;
    font-family: system-ui, -apple-system, BlinkMacSystemFont;
    
}

.header-nav-link:hover {
    color: #ffffff9c;
    text-shadow: 0 0 5.9px rgba(255, 255, 255, 0.4);
}

