<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Skill Share{% {% endblock %}%}</title>
</head>
<body>
    <header>
        <div>Skill Share</div>
        <div>
            <nav>
                <ul>
                    <li><a></a>Dashboard</li>
                    <li><a></a>Home</li>
                    <li><a></a>Skills</li>
                    <li><a></a>About</li>
                    <li><a></a>Profile</li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <div>
            <p>&copy; 2025 SkillShare</p>
        </div>
    </footer>
</body>
</html>