{% extends "base.html" %}
{% block title %}Home page{% endblock  %}

<!-- body of home page -->
{% block content %}
    <p> This is home page </p>
    <p> This is home page </p>
    <p> This is home page </p>
    <p> This is home page </p>
    <p> This is home page </p>
    <p> This is home page </p>
    <p> This is home page </p>
    <p> This is home page </p>
    <p> This is home page </p>
    <p> This is home page </p>
    <p> This is home page </p>
    <p> This is home page </p>
    <p> This is home page </p>
    <p> This is home page </p>
    <p> This is home page </p>

{% endblock  %}